# PyTorch / Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
env/
venv/
.ipynb_checkpoints/

# Logs and results
/results*
/runs*
/neps_results*
/data/
/rank*
/plots*
/by_loss*
/results/norm*
/green_plots
/table_*
/positive_*
/27*
/diff*

# Model checkpoints
*.pt
*.pth
*.pt*
.model

# Misc
# .DS_Store
