# PyTorch / Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
env/
venv/
.ipynb_checkpoints/

# Logs and results
/results_*
/runs*
/neps_results*
/data/
/rank*
/plots*
/by_loss*
/ablation*
/june*
/ablation*
/june*
/ifbo*
/by_loss*

# Model checkpoints
*.pt
*.pth
*.pt*
.model

# Misc
# .DS_Store
